<h3><a class="btn btn-secondary" href="/student"><i class="fa fa-plus"></i>
    Create New</a>
  Student List</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Age</th>
      <th>PhoneNumber</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
      <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.Address}}</td>
        <td>{{this.Age}}</td>
        <td>{{this.PhoneNumber}}</td>
        <td>
          <a href="/student/{{this._id}}"><i
              class="fa fa-pencil fa-lg"
              aria-hidden="true"
            ></i></a>
          <a
            href="/student/delete/{{this._id}}"
            onclick="return confirm('Are you sure to delete this record ?');"
          ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>